html  {
  background-image: url(imagens/wallpaper-azul-papel-de-parede-azul-fundo-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 50px;
}

body,html {
  min-height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

}

header audio {
  position: fixed;
  right: 90px;
}

header {
  background-image: linear-gradient( lightblue, darkblue );
  box-shadow: 0px 10px 10px 5px darkblue;
  padding-top: 1em;
  padding-top: 40px;
  text-align: center;
}

header h1 {
  text-align: center;
  font-family: "Baloo Bhai", "Montserrat", Source Sans Pro;
  font-size: 70px;
  margin: -50px;
  text-shadow: 3px 3px black;
  color: white;
}

header h2 {
  text-align: center;
  font-family: "Montserrat", Source Sans Pro;
  font-size: 20px;
  margin: -30px;
  padding: 20px;
  text-shadow: 2px 2px black;
  color: lightblue;
}

header li {
  text-align: center;
  display: inline-block;
  color: white;
  margin-left: 20px;
  margin-bottom: 2px;
}

header a {
  color: #b6dd06 ;
}

header ul {
  justify-content: center;
  display: flex;
}

main p {
  padding-top: 50px;
}

main h1 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px black;
  color: rgb(76, 39, 253);
  margin: auto;
  padding-bottom: 50px;

}

main h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 120px;
  text-shadow: 2px 2px black;
  color: rgb(255, 254, 1);
}

#trocarimg {
    margin-left: 50px;
}

.imagens {
  display: flex;
  flex-direction: column;
  float: left;

}

.imagens img {
  max-width: 500px;
  max-height: 500px;
  border-style: solid;
  border-width: 5px;
}

.imagens input {
  margin-left: 50px;
}

.Noticias {
  padding-top: 120px;
}

#Noticia  {
  padding-left: 650px;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  margin-block-start: -2em;
  margin-right: 5em;
}

.Noticias img, video {
  max-width: 500px;
  max weight: 500px;
  border-style: solid;
  border-width: 5px;

}

.Noticias p {
  float: left;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 20px;
  width: 500px;
  height: 200px;
  color: green;
  text-shadow: 1px 1px black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

a:visited {
  color: lightblue;
  text-shadow: 3px 3px black;
}

.Index {
  display: flex;
}

.N1 {
  flex-direction: column;
  flex: 1;
}

.Noticias {
  flex-direction: column;
  flex: 2;
  padding-top: 70px;
}

footer img {
  float: left;
  max-width: 400px;
  max-height: 400px;
  padding-bottom: 50px;
  padding-left: 120px;
}

footer p {
  font-family: 'Noto Sans HK', sans-serif;
  text-shadow: 1px 1px black;
  color: white;
  font-size: 14px;
  padding-top: 100px;
}
